<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smtuapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmtuApp"
        tools:targetApi="31">

        <!-- Добавляем активити для расписания -->
        <activity android:name=".activities.ScheduleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--    Активити для заметок    -->
        <activity android:name=".activities.AddNoteActivity" />
        <activity android:name=".activities.NavigationActivity"/>
        <activity android:name=".activities.ISUActivity"/>
        <activity android:name=".activities.ServicesActivity"/>

    </application>

</manifest>
